[core]
  editor = vim
  whitespace = trailing-space,space-before-tab

[user]
  name = Dustin Weatherford

[color]
  branch = auto
  status = auto
  diff = auto
  interactive = auto

[rerere]
  enabled = 1

[branch]
  autosetuprebase = always

[push]
  default = tracking

[alias]
  lgg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
