[user]
	name = 
	email = 

[color]
	branch = auto
	status = auto
	diff = auto

# I like aliases in my bash script.
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -10
